<div class="p-4">

    <div class="row">
        <div class="col p-2"><div style="height: 500px;" class="bg-dark rounded text-black p-2"><img src="https://images.vexels.com/media/users/3/143065/isolated/preview/c6cbc8cf5ca3856bca8d5f28c0471fca-bar-graph-cart-by-vexels.png"/></div></div>
        <div class="col p-2"><div style="height: 500px;" class="bg-dark rounded text-black p-2">x</div></div>
    </div>
    <div class="row">
        <div class="col p-2"><div style="height: 350px;" class="bg-dark rounded text-black p-2">x</div></div>
        <div class="col p-2"><div style="height: 350px;" class="bg-dark rounded text-black p-2">x</div></div>
        <div class="col p-2"><div style="height: 350px;" class="bg-dark rounded text-black p-2">x</div></div>
    </div>
    <div class="row">
        <div class="col-6 p-2"><div style="height: 250px;" class="bg-dark rounded text-black p-2">x</div></div>
        <div class="col p-2"><div style="height: 250px;" class="bg-dark rounded text-black p-2">x</div></div>
        <div class="col p-2"><div style="height: 250px;" class="bg-dark rounded text-black p-2">x</div></div>
    </div>    
</div>

<app-logsee-ico-anim></app-logsee-ico-anim>
<div style="width: 300px;">
    <app-logsee-ico-full></app-logsee-ico-full>
    <app-logsee-ico-text></app-logsee-ico-text>
</div>
