<!-- NAVBAR -->
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
	<!-- Brand -->
	<a class="navbar-brand" href="/">LogSee Client</a>
	<!-- Links -->
	<ul class="navbar-nav">
		<li class="nav-item">
			<a class="nav-link" href="/configure">Configure</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="/status">Status</a>
		</li>
		<!-- Dropdown -->
		<li class="nav-item dropdown">
			<a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">Admin</a>
			<div class="dropdown-menu">
				<a class="dropdown-item" href="/admin/restart">Restart Client</a>
				<a class="dropdown-item" href="/admin/reauth">Force Re-Auth</a>
				<a class="dropdown-item" href="/admin/about">About Client</a>
			</div>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="/logout">Log Out</a>
		</li>

		<!-- Live Indicator -->
		<div style="position: absolute; right: 60px; color: white; display: flex;">
			<div style="width:20px; height: 20px; background: lime; border-radius: 50%; margin-top: 10px; margin-right: 5px;"></div> <!-- I cant put {{ live['Color'] }} in the style because angular is shit and that would make sense.-->
			<span style="margin-top: 5px;">{{ live['Status'] }}</span>
		</div>
	</ul>
</nav>

<!-- CONTENT -->
<div class="container">
	<router-outlet></router-outlet>
</div>
