<nav class="navbar-expand-lg navbar-light bg-dark pb-2 pt-2">

  <div class="row m-0">
      <div class="col ml-2">
          <a class="navbar-brand" routerLink='/'><div style="width: 100px;"><app-logsee-ico-text></app-logsee-ico-text></div></a>
          <button mat-button routerLink="/logs"><i class="fas fa-file-alt"></i> Logs</button>
          <button mat-button routerLink="/stats"><i class="far fa-chart-bar"></i> Stats</button>
          <button mat-button routerLink="/config"><i class="fas fa-cog"></i> Config</button>
        
          <button mat-button [matMenuTriggerFor]="menu">Menu</button>
          <mat-menu #menu="matMenu" class="bg-dark">
            <button mat-menu-item class="text-white">Item 1</button>
            <button mat-menu-item class="text-white">Item 2</button>
          </mat-menu>
      </div>
      
      <div class="col mr-4">
        <div class="float-right mt-1 d-flex">
            <input id="navbar-search" type="text" class="form-control mr-3" placeholder="sample_log.log" style="background: #555; border:0; color:white;"/>
            <button mat-button routerLink="/config"><i class="fas fa-user"></i> Login</button>
        </div>
      </div>
  </div>
  
  

</nav>


