<svg id="Group" xmlns="http://www.w3.org/2000/svg" viewBox="200 90 300 100">
    <defs>
        <style>
            .cls-1 {
                font-size: 110px;
                fill: #17bee5;
                font-family: UbuntuMono-Regular, Ubuntu Mono;
                letter-spacing: -0.04em;
            }
            .cls-2 {
                font-size: 110px;
                fill: #e5be00;
                font-family: UbuntuMono-Regular, Ubuntu Mono;
                letter-spacing: -0.04em;
            }
        </style>
    </defs>
    <title>LogSee-Ico-Text</title>
    <text class="cls-1" transform="translate(188.12 169.45)">L<tspan class="cls-6" x="50.67" y="0">o</tspan>
        <tspan class="cls-1" x="104" y="0">g</tspan>
        <tspan class="cls-2" x="153.99" y="0">S</tspan>
        <tspan class="cls-2" x="205.7" y="0">e</tspan>
        <tspan class="cls-2" x="258.72" y="0">e</tspan>
    </text>
</svg>