doctype html
html(lang="en")
	head
		title LogSee Client WebUI
		include modules/dependencies

	body(class="bg-secondary")
		include modules/navbar
		
		// Content
		div(class='container')
			div(class='wrapper p-2 mt-2 rounded', style='background:white;')
				h4 About the LogSee Client
				hr
				p Version:
				pre V1.0(Beta)    
