doctype html
html(lang="en")

    head
        title LogSee Client WebUI
        include modules/dependencies
        link(href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet")
        script(src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js")
        script(src="/configure_paths_dynamic.js")

    body(class="bg-secondary")
        include modules/navbar

        div(class="container mb-4")
            div(class="wrapper p-2 mt-2 rounded" style="background:white;")
            
                h4 Configuration Menu
                hr
                p You can configure the LogSee client here. All values will take an instant effect.
                a(href="https://github.com/LogSee/LogSee/wiki" target="_blank") Check out the Wiki for more information

                table(class="table table-borderless")
                    tbody
                        tr
                            td(colspan="4" class="p-0")
                                h5(class="mb-0 mt-4") Client Configuration
                                hr(class="mt-1")
                        tr
                            td Client Side Filtering
                            td 
                                input(type="checkbox" data-toggle="toggle" data-onstyle="success" data-offstyle="danger")
                            td Client Scan Frequency (ms)
                            td
                                input(type="number" class="form-control" id="ClientScanFreq" placeholder="5000")
                        tr
                            td Client Ping Interval
                            td 
                                input(type="number" class="form-control" id="PingInterval" placeholder="300")

                        tr
                            td(colspan="4" class="p-0")
                                h5(class="mb-0 mt-4") WebUI Configuration
                                hr(class="mt-1")
                        tr
                            td Enabled
                            td 
                                input(type="checkbox" data-toggle="toggle" data-onstyle="success" data-offstyle="danger")
                            td Use Authentication
                            td
                                input(type="checkbox" data-toggle="toggle" data-onstyle="success" data-offstyle="danger")
                        tr
                            td Port
                            td 
                                input(type="number" class="form-control" id="Port" placeholder="1337")
                            td Username
                            td
                                input(type="text" class="form-control" id="LocalAuth_Username" placeholder="admin")
                        tr
                            td Address
                            td
                                input(type="number" class="form-control" id="IP" placeholder="0.0.0.0")
                            td Password
                            td
                                input(type="password" class="form-control" id="LocalAuth_Password" placeholder="*******")

                        tr
                            td(colspan="4" class="p-0")
                                h5(class="mb-0 mt-4") LogSee Server
                                hr(class="mt-1")
                        tr
                            td Server IP
                            td 
                                input(type="number" class="form-control" id="SIP" placeholder="1338")
                            td Server Port
                            td
                                input(type="number" class="form-control" id="SPORT" placeholder="1337")
                        tr
                            td Authorization Key
                            td 
                                input(type="text" class="form-control" id="SAUTH" placeholder="dfg098d7fgsiojdfhzxpcv9")

                        tr
                            td(colspan="4" class="p-0")
                                h5(class="mb-0 mt-4") Paths to Scan
                                hr(class="mt-1")
                        tr
                            td(colspan="4")
                                // Needs CSS redbg/white "X" buttons on the right of each one
                                input(type="text" class="form-control mb-1" id="CPTS" placeholder="Enter a path here" value="/dev/null/pr0n_collection.log")
                                input(type="text" class="form-control mb-1" id="CPTS" placeholder="Enter a path here" value="/var/log/LogSee/client.log")
                                input(type="text" class="form-control mb-1" id="CPTS" placeholder="Enter a path here" value="/var/log/LogSee/server.log")
                                input(type="text" class="form-control mb-1" id="CPTS" placeholder="Enter a path here" value="/var/log/nginx/error.log")

                                center
                                    btn(class="btn btn-success mt-3") Add Another
