doctype html
html(lang="en")
head
	title LogSee Client WebUI
	include modules/dependencies

// You can put variables into doms like dis
//p= data.firstTime 

body(class="bg-secondary")
	include modules/navbar

	// CONTENT
	div(class="container")
		div(class="wrapper p-2 mt-2 rounded" style="background:white;")
			h4 Welcome to the LogSee Client Web UI
			hr
			p This is the homepage, probably will never have anything interesting on here.<br>In this UI you can configure the client settings, see client status and perform some admin functions such as restarting.<br/><br/>A few stats here n there
			br
			a(href="https://github.com/LogSee/LogSee/wiki" target="_blank") Check out the Wiki for more information
