doctype html
html(lang="en")

    head
        title LogSee Client Login
        include modules/dependencies

    body(class="bg-dark")
        div(class="container pt-5")
            div(class="row")
                div(class="col-md-12")
                    h2(class="text-center text-white mb-4") LogSee Client Admin Panel
                    div(class="row")
                        div(class="col-md-6 mx-auto")

                            div(class="card rounded-1")
                                div(class="card-body")

                                    form(class="form" role="form" autocomplete="off" id="formLogin" novalidate="" method="POST")
                                        div(class="form-group")
                                            label(for="uname1") Username
                                            input(type="text" class="form-control form-control-lg rounded-0" name="uname1" id="uname1" required="")
                                            div(class="invalid-feedback") Oops, you missed this one.
                         
                                        div(class="form-group")
                                            label Password
                                            input(type="password" class="form-control form-control-lg rounded-0" id="pwd1" required="" autocomplete="new-password")
                                            div(class="invalid-feedback") Enter your password too!
                                    
                                        div(class="row")
                                            div(class="col-4")
                                                select(class="form-control" id="loginType")
                                                    option(selected) LogSee Server
                                                    option LogSee Client

                                        button(type="submit" class="btn btn-success btn-lr float-right" id="btnLogin") Login
