[Unit]
Description= LogSee Client software
Documentation=https://github.com/LogSee/LogSee
After=network.target

[Service]
Type=Simple
User=LogSee
ExecStart=/usr/bin/node /opt/LogSee/Client/runClient.js
Restart=on-failure

[Install]
WantedBy=multi-user.target
