/* Global site styles / Imports */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import url('https://fonts.googleapis.com/css?family=Ubuntu+Mono'); /* Better to load via google due to caching */

/* Set main body / color */
body {
    background: #101112 !important;
    color: white !important;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', 'sans-serif';
    overflow-x: hidden;
}
#navbar-search::placeholder {
    color: grey;
  }
#navbar-search:focus {
    box-shadow: none !important;
}